bash_kernel==0.7.2
bumpversion==0.5.3
Click==7.0
coverage==4.5.4
flake8==3.7.9
git+https://github.com/seanpue/jupyter-sphinx@dev #v
marshmallow==3.2.2
pip==19.3.1
pytest-runner==5.2
pytest==5.2.4
pyyaml==5.1.2
sphinx-issues==1.2.0
Sphinx==2.2.1
tox==3.14.0
twine==2.0.0
watchdog==0.9.0
wheel==0.33.6
